body {
  background-color: black;
  color: green;
}
.meku {
  /* contact me page */
  position: centre;
  margin: 0%;
  height: 180px;
  width: 150px;
  opacity: 0.5;
  background-color: transparent;
  border-radius: 100%;
}

.secondTable {
  border: 2px solid green;
  background-color: transparent;
}

.secondTable tr td {
  border: 2px solid green;
}

.col-6 {
  display: inline-block;
}

.details {
  /* The element to apply the animation to */
  animation-name: details;
  animation-duration: 3s;
  margin: 50px 20px 20px 50px;
  position: relative;
  display: inline-block;
}

@keyframes details {
  from {
    opacity: 0.1;
  }
  to {
    opacity: inherit;
  }
}

.submitLabel {
  padding: 20px;
  display: inline-block;
  position: relative;
  justify-content: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 5px;
  width: 5%;
}

hr > a {
  color: greenyellow;
}

.text {
  color: greenyellow;
}
strong {
  color: red;
  text-decoration: wavy;
}
